@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");
* {
  user-select: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html,
body,
.root {
  width: 100%;
  min-height: 100%;
}

ul {
  list-style: none;
}

* ::-webkit-scrollbar {
  background-color: transparent;
  width: 8px;
}

* ::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #c0c0c0;
}

a {
  height: 100%;
  width: 100%;
  color: inherit;
}

.img {
  transition: 0.2s;
  animation: fade-in 0.2s linear both;
}

.header {
  color: white;
  background-color: black;
  height: 90vh;
  display: flex;
  flex-direction: column;
}

.header .menu {
  display: flex;
  padding: 8px;
  gap: 16px;
  align-items: center;
  width: 100%;
}

.header .menu .option {
  padding: 8px;
  border-radius: 2px;
  cursor: pointer;
}

.header .menu .option:first-of-type {
  margin-left: auto;
}

.header .menu .option:hover {
  background-color: white;
  color: black;
}

.header .banner {
  justify-content: space-around;
  align-items: center;
  display: flex;
}

.header .banner .title-w {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.header .banner .title-w .description {
  font-size: 20px;
}

.header .banner .title-w .title {
  font-size: 80px;
}

.header .banner img {
  width: 500px;
  height: auto;
}

.header .button-try {
  width: 20%;
  padding: 8px;
  border-radius: 2px;
  background-color: white;
  color: black;
  align-self: center;
  font-weight: bold;
  border: 0;
  cursor: pointer;
  transition: 0.2s;
  text-transform: uppercase;
}

.header .button-try:hover {
  background-color: black;
  border: 1px solid white;
  color: white;
}

.main {
  display: flex;
  flex-direction: column;
}

.main .container {
  padding: 32px;
  gap: 8px;
  display: flex;
  justify-content: center;
}

.main .container .wireframes {
  width: 100%;
  height: 600px;
}

.main .container.reverse {
  flex-flow: row-reverse;
}

.main .container .left {
  display: flex;
  flex-direction: column;
}

.main .container .left .description {
  line-break: anywhere;
}

.main .container.light {
  background-color: white;
  color: black;
}

.main .container.dark {
  background-color: black;
  color: white;
}

.main .container img {
  max-width: 60%;
  max-height: 500px;
  height: auto;
  border-radius: 2px;
  cursor: pointer;
}

.footer {
  background-color: black;
  color: white;
  padding: 8px;
}

.preview {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.preview img {
  max-width: 90%;
  height: auto;
  max-height: 90%;
}

.preview .button {
  width: 64px;
  padding: 8px;
  border-radius: 2px;
  background-color: white;
  border: 1px solid black;
  color: black;
  border-radius: 2px;
  font-weight: bold;
  cursor: pointer;
  margin: 4px;
  margin-left: auto;
}

.hidden {
  display: none;
}

@keyframes fade-in {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 100;
  }
}
